@page
@model IndexModel
@{
    ViewData["Title"] = "Centrul de Fitness SAM";
}
<div style="text-align: center; margin-top: 50px;">
    <h1>Centrul de Fitness</h1>
    <h1>SAM</h1>
    <img src="~/images/fitness.jpg" alt="Centrul de Fitness" style="width: 80%; max-width: 800px; border-radius: 10px; box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);">
</div>
